


<div class="container">
    <div class="row">
        <div class="service">
            <div class="col-md-6 col-md-offset-3">
                <div class="text-center">
                    <h2>Servicios</h2>
                    <div class="icon">
                        <i class="fa fa-building-o fa-5x"></i>
                    </div>
                  
                    <p>
                        Estos son parte de los distintos servicios que ofrecemos
                    </p>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

<div class="services">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="0.4s">
                    <h4>Consulta Oftalmológica</h4>
                    <div class="icon">
                        <i class="fa fa-heart-o fa-3x"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.0s">
                    <h4>Examenes Oftalmológicos</h4>
                    <div class="icon">
                        <i class="fa fa-desktop fa-3x"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras</p>

                </div>
            </div>

            <div class="col-md-4">
                <div class="wow bounceIn" data-wow-offset="0" data-wow-delay="1.6s">
                    <h4>Asesoramiento estético</h4>
                    <div class="icon">
                        <i class="fa fa-location-arrow fa-3x"></i>
                    </div>
                    <p>Lorem ipsum dolor sit amet consectetur adipiscing elit Cras</p>

                </div>
            </div>

        </div>
    </div>
</div>
